# Firebase Accounts app
FIREBASE_ACCOUNTS_API_KEY=
FIREBASE_ACCOUNTS_AUTH_DOMAIN=
FIREBASE_ACCOUNTS_PROJECT_ID=
FIREBASE_ACCOUNTS_STORAGE_BUCKET=
FIREBASE_ACCOUNTS_MESSAGING_SENDER_ID=
FIREBASE_ACCOUNTS_APP_ID=
FIREBASE_ACCOUNTS_MEASUREMENT_ID=

# Firebase Chat app
FIREBASE_CHAT_API_KEY=
FIREBASE_CHAT_AUTH_DOMAIN=
FIREBASE_CHAT_DATABASE_URL=
FIREBASE_CHAT_PROJECT_ID=
FIREBASE_CHAT_STORAGE_BUCKET=
FIREBASE_CHAT_MESSAGING_SENDER_ID=
FIREBASE_CHAT_APP_ID=
FIREBASE_CHAT_MEASUREMENT_ID=
